<div class="form">
    <%= form_for @movie do |f| %>
        <%= f.label :title, :class => 'custom_label' %>
        <%= f.text_field :title, :class => 'form-control' %>
        <%= f.label :age, :class => 'custom_label' %>
        <%= f.text_field :age, :class => 'form-control' %>
        <%= f.label :director, :class => 'custom_label' %>
        <%= f.text_field :director, :class => 'form-control' %>
        <%= f.label :year, 'Year of release', :class => 'custom_label' %>
        <%= f.text_field :year, :placeholder => "YYYY", :class => 'form-control' %>
        <%= f.label :score, "iMDb Score", :class => 'custom_label' %>
        <%= f.text_field :score, :placeholder => '5.0', :class => 'form-control' %>
        <%= f.label :location, "Where to watch", :class => 'custom_label' %>
        <%= f.text_field :location, :placeholder => "Disney+", :class => 'form-control' %>
        <%= f.label :synopsis, :class => 'custom_label' %>
        <%= f.text_field :synopsis, :class => 'form-control' %>
        <%= f.label :image, :class => 'custom_label' %>
        <%= f.url_field :image, :required => true, :class => 'form-control' %>
        <%# this replaces the button to submit the form %>

        <%# <%= f.label :review_id %>
        <%# <%= f.select :review_id, Review.pluck(:title, :id), :include_blank => true %>

        <%= f.submit "Submit", :class => 'btn btn-success' %>
    <% end %>
</div>