<div class="adminbg">
    <h1></h1>

    <p class='error'>
        <%= flash[:error] %>
    </p>
    <div class="form">
        <%= form_tag login_path do %>
            <%= label_tag :email, nil, :class => 'custom_label'%>
            <%= email_field_tag :email, nil, :class => 'form-control' %>

            <%= label_tag :password, nil, :class => 'custom_label' %>
            <%= password_field_tag :password, nil, :class => 'form-control' %>

            <%= submit_tag "Sign in", :class => 'btn btn-success' %>
        <% end %>
    </div>
</div>    