<% if @user.errors.any?%>
    <ol>
        <% @user.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>

<%# create form for users to sign-up or edit their details %>
<%= form_for @user do |f|  %>

    <%# email feild and label that will appear in the form %>
    <%= f.label :email, :class => 'form-label' %>
    <%= f.email_field :email, :class => 'form-control' %>

    <%# name feild and label that will appear in the form %>
    <%= f.label :name, "Nickname", :class => 'form-label'  %>
    <%= f.text_field :name, :class => 'form-control'  %>

    <%# password field and label that will appear on the form %>
    <%= f.label :password, :class => 'form-label'  %>
    <%= f.password_field :password, :class => 'form-control'  %>

    <%# password confirmation field and label for the form which will be checked against the given password %>
    <%= f.label :password_confirmation, :class => 'form-label' %>
    <%= f.password_field :password_confirmation, :class => 'form-control'  %>

    <%# Button for users to submit their inputs and sign-up %>
    <%= f.submit 'Update' %>
<% end %>