<h1>Sign up to add reviews to movies</h1>

<%# create error message if information is missing or inaccurate password and pw confirmation don't match %>
<% if @user.errors.any?%>
<ol>
<% @user.errors.full_messages.each do |msg|%>
<li><%= msg %></li>
<% end %>
</ol>
<% end%>
<%# create form for users to sign-up %>
<%= form_for @user do |f|  %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%# email feild and label that will appear in the form %>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%# password field and label that will appear on the form %>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%# password confirmation field and label for the form which will be checked against the given password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%# Button for users to submit their inputs and sign-up %>
    <%= f.submit 'Sign Up!' %>
<% end %>
