<% if @current_user.present?%>
    <% if @current_user.admin? %>
        <h1>All Reviews</h1>
            <% @reviews.each do |review| %>
            <ul>
                <li>Name: <%= link_to review.title, review %></li>
                <li>Movie: <%= review.movie.title %></li>
                <li>Comment: <%= review.comment %></li>
            </ul>
            <% end %>
    <% else %>
    <h1>My Reviews</h1>
        <% @current_user.reviews.each do |review|%>
        <ul>
            <li>Name: <%= link_to review.title, review %></li>
            <li>Movie: <%= review.movie.title %></li>
            <li>Comment: <%= review.comment %></li>
        </ul>
        <% end %>
    <% end %>
<% end %>
