<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="">
      <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Home", root_path, :class => 'nav-link active' %>
                <%# Link for home page always seen %>
              </li>
              <li class="nav-item">
                <%= link_to 'Movies', movies_path, :class => 'nav-link active' %>
                <%# link for movies page only seen when away from home page %>
              </li>
              <li class="nav-item">
                <%= link_to 'Games', games_path, :class => 'nav-link active' %>
                <%# link for games page only seen when away from home page %>
              </li>
              <% if @current_user.present?%>
                <% if @current_user.admin? %>
                    <li class="nav-item">
                      <%=link_to "All users", users_path, :class => 'nav-link active' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "All reviews", reviews_path, :class => 'nav-link active' %>  
                    </li>
                <% else %>
                    <li class="nav-item">
                      <%= link_to "My Reviews", reviews_path, :class => 'nav-link active' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "New Review", new_review_path, :class => 'nav-link active' %></li>
                    <li class="nav-item">
                <% end %>
                  <%= link_to "Sign out", login_path, :method => 'delete', :class => 'nav-link active' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Sign up', new_user_path, :class => 'nav-link active' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Log in', login_path, :class => 'nav-link active' %>
                </li>
              <% end%>
            </ul>
          </div>
        </div>
      </nav>
      <%= yield %>
      </div>
  </body>
</html>
        <!--nav>
          <%= link_to_unless_current 'Home', root_path %>
          <%= link_to_unless_current 'Movies', movies_path %>
          <%= link_to_unless_current  'Games', games_path %>

          <% if @current_user.present?%>
            <% if @current_user.admin? %>
              <%=link_to "All users", users_path %>
              <%= link_to "All reviews", reviews_path %>
            <% else %>
              <%= link_to "My Reviews", reviews_path %>
          <% end %>
          <%= link_to "New Review", new_review_path%>
          <%# <%= link_to 'My Favorites Lists', new_artist_path %>
          <%= link_to "Sign out' #{ @current_user.email }", login_path, :method => 'delete' %>
          <% else %>
            <%= link_to 'Sign up', new_user_path %>
            <%= link_to 'Log in', login_path %>
          <% end%>
        </nav-->

